*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav .nan-logo{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
;
}
header{
    background-color: #FFFFFF;
}
nav{
    width: 1360px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}